* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    height: 100%;
    width: 100%;
}
#box1 {
    width: 300px;
    height: 300px;
    background-color: blue;
}
#box2 {
    width: 300px;
    height: 300px;
    background-color: red;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 20px 50px;
}
nav ul {
    display: flex;
    gap: 2rem;
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}